/* Dark Mode Colors */
body {
  color: #ddd;
  background-color: black;
}

a {
  color: #5b6bff;

  &:hover {
    color: #80a0ff;
  }
}

h2 {
  color: #00e774;
}

.button {
  color: #eeed;
  border-color: #eee4;

  &:hover {
    color: #eeee;
    border-color: #eee6;
  }

  &.prominent {
    color: #eeee;

    &:hover {
      color: #eee;
    }
  }
}

header {
  color: #ddd;
  background: linear-gradient(to right, #155799, #159957);

  h2 {
    color: inherit;
  }
}

.project {
  color: #eee;

  &:hover {
    color: #fff;
  }
}

.donation-platform #patreon-logo {
  background-color: #ffffff;
}

#projects {
  background-color: #00d24899;

  h2 {
    color: #3fff8a;
  }
}
