/* Dark Mode Colors */
body {
  color: #ddd;
  background-color: black;
}

a {
  color: #5b6bff;
}

a:hover {
  color: #80a0ff;
}

h2 {
  color: #00e774;
}

.button {
  color: #eeed;
  border-color: #eee4;
}

.button:hover {
  color: #eeee;
  border-color: #eee6;
}

.button.prominent {
  color: #eeee;
}

.button.prominent:hover {
  color: #eee;
}

header {
  color: #ddd;
  background: linear-gradient(to right, #155799, #159957);
}

header h2 {
  color: inherit;
}

.project {
  color: #eee;
}

.project:hover {
  color: #fff;
}

#projects {
  background-color: #00d24899;
}

#projects h2 {
  color: #3fff8a;
}
