/* Light Mode Colors */
body {
  color: #222;
  background-color: white;
}

a {
  color: #4b4bff;

  &:hover {
    color: #1919ff;
  }
}

h2 {
  color: #19bb6a;
}

.button {
  color: #fffd;
  background-color: #fff2;
  border-color: #fff4;

  &:hover {
    color: #fff;
    background-color: #fff3;
    border-color: #fff6;
  }

  &.prominent {
    color: #fffe;
  }
}

header {
  color: #fff;
  background: linear-gradient(to right, #155799, #159957);

  h2 {
    color: inherit;
  }
}

.project {
  color: #333;

  &:hover {
    color: #111;
  }
}

.donation-platform #patreon-logo {
  background-color: #141518;
}

#projects {
  background-color: #00d24899;

  h2 {
    color: #009d45;
  }
}
