/* Light Mode Colors */
body {
  color: #222;
  background-color: white;
}

a {
  color: #4b4bff;
}

a:hover {
  color: #1919ff;
}

h2 {
  color: #19bb6a;
}

.button {
  color: #fffd;
  background-color: #fff2;
  border-color: #fff4;
}

.button:hover {
  color: #fff;
  background-color: #fff3;
  border-color: #fff6;
}

.button.prominent {
  color: #fffe;
}

header {
  color: #fff;
  background: linear-gradient(to right, #155799, #159957);
}

header h2 {
  color: inherit;
}

.project:hover {
  color: #111;
}

.project {
  color: #333;
}

#projects {
  background-color: #00d24899;
}

#projects h2 {
  color: #009d45;
}
