:root {
  color-scheme: light dark;
  font-family: sans-serif;
  text-align: center;
}

body {
  color: light-dark(#222, #ddd);
  background-color: light-dark(white, black);
  margin: 0;
}

picture, img {
  height: auto;
  max-width: 100vw;
}

h1 {
  font-size: 2rem;
}

h2 {
  color: light-dark(#19bb6a, #00e774);
  font-size: 1.5rem;
  margin-bottom: 2pt;
}

a {
  color: light-dark(#4b4bff, #5b6bff);
  text-decoration: none;

  &:hover {
    color: light-dark(#1919ff, #80a0ff);
  }
}

.button {
  color: light-dark(#fffd, #eeed);
  background-color: #fff2;
  display: inline-block;
  padding: 7px 10px;
  margin: 5px;
  text-decoration: none;
  border: 1px solid;
  border-color: light-dark(#fff4, #eee4);
  border-radius: 5px;

  &:hover {
    color: light-dark(#fff, #eeee);
    background-color: #fff3;
    border-color: light-dark(#fff6, #eee6);
  }

  &.prominent {
    color: light-dark(#fffe, #eeee);
    padding: 10px 15px;
    border-width: 2px;
    border-radius: 8px;
    font-weight: bold;

    &:hover {
      color: light-dark(#fff, #eee);
    }
  }
}

.project-icon {
  width: 64px;
}

header {
  color: light-dark(#fff, #ddd);
  padding: 5vh;
  margin: 0;
  margin-bottom: 25pt;
  background: linear-gradient(to right, #155799, #159957);

  #profile-picture {
    margin: 0;
    max-width: 200pt;
  }

  h1 {
    margin: 0;
    margin-bottom: 20pt;
    padding: 0;
    font-size: 3rem;
  }

  h2 {
    color: inherit;
    margin: 0;
    font-size: 2rem;
  }

  #description {
    margin: 10px;
  }

  #buttons {
    margin-top: 15px;
  }
}


#projects {
  display: inline-block;
  border-radius: 10pt;
  padding: 15pt;
  padding-top: 5pt;

  h2 {
    margin-top: 0;
    margin-bottom: 10pt;
  }

  :not(h2) {
    text-align: start;
  }
}

#donation-platforms h2 {
  margin-bottom: 20pt;
}

.donation-platform {
  display: inline-block;

  picture, img {
    height: 60px;
  }
}

#bmac-logo {
  height: 67px;
}

#patreon-logo {
  background-color: light-dark(#141518, #ffffff);
}

#projects {
  background-color: light-dark(#00d24899, #00d24899);

  h2 {
    color: light-dark(#009d45, #3fff8a);
  }
}

.project {
  color: light-dark(#333, #eee);
  display: grid;
  font-weight: bold;
  font-size: larger;
  grid-template-columns: auto 1fr;

  &:hover {
    color: light-dark(#111, #fff);
  }

  .label {
    display: grid;
    align-content: center;

    > * {
      margin: 0rem 0.5rem;
    }

    .subtitle {
      font-weight: normal;
      font-size: 1rem;
      font-style: italic;
    }
  }
}

#languages > p,
#frameworks > p {
  font-weight: bold;
}

#socials a {
  display: inline-block;
  vertical-align: middle;

  img {
    max-width: 32pt;
    max-height: 32pt;
  }
}

footer {
  margin-top: 20pt;
}
